<%= form_for @user do |f| %>
<table>
                <tr>
                  <td><%= f.label :tipoCadastro %></td>
                  <td><%= f.radio_button :tipoCadastro, 'Profissional', :checked => true %> <%= "Profissional"%>
                  <%= f.radio_button :tipoCadastro, 'Contratante', :checked => false %> <%= "Contratante"%></td>
                </tr>
                 <tr>
                  <td><%= f.label :name %></td>
                  <td><%= f.text_field :name %></td>
                </tr>
                <tr>
                  <td><%= f.label :email %></td>
                  <td><%= f.email_field :email %></td>
                </tr>
                <tr>
                  <td><%= f.label :cpf %></td>
                  <td><%= f.number_field :cpf %></td>
                </tr>
                <tr>
                  <td><%= f.label :telefone %></td>
                  <td><%= f.text_field :telefone %></td>
                </tr>
                <tr>
                  <td><%= f.label :sexo %></td>
                  <td><%= f.select :sexo, options_for_select([["Masculino","M"], ["Feminino","F"]]) %></td>
                </tr>
                <tr>
                  <td><%= f.label :image %></td>
                  <td><%= f.file_field :image, class: 'form-control' %></td>
                </tr>
                <tr>  
                  <td></td>
                  <td></td>
                  <td><%= f.submit "Alterar"%></td>
                </tr>
</table>
<%end%>