<!--div class="links">
	< %= link_to "Home"%> | < %= link_to "Editar Perfil"%> | < %= link_to "Sair", sign_out_path, method: "delete" % >
</div-->

<div class="imagem">
	<%= image_tag @user.image, width: "230px", height: "210px" %>
</div>

<div class="perfil">
 <p><%= @user.name%></p>
 <p><%= @user.email%></p>
 <p><%= @user.telefone%></p>
 <p><%= @user.sexo%></p>
 <p><%= @user.tipoCadastro%></p>
</div>

<div class="endereco">
		
</div>